* {
    padding: 0;
    margin: 0;
    border: 0;
    scroll-behavior: smooth;
    font-family: 'Mukta', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* Site Loading Screen */
#loader {
    position: absolute;
    border: 25px solid #f3f3f3; 
    border-top: 25px solid rgb(41, 150, 70); 
    border-radius: 50%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto auto auto;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

.loading_bg {
    height: 80%;
    width: 80%;
    border-radius: 100%;
    margin: 12px;
}

.loading_bg img {
    animation: spin_2 1s linear infinite;
    width: 100%;
    height: 100%;
}

#main_bg{
    background-color: #00000042;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    
    
    text-decoration: none;
    box-sizing: border-box;
}

/* Main Section with button */

header {
    display: flex;
    align-items: left;
    justify-content: space-evenly;
    box-sizing: border-box;
    justify-items: center;
    flex-direction: column;
    padding: 0 0 0 250px;
    margin: 220px 0 400px 0;  
}

.header__join__us button {
    color: #ffffffe1;
    background-color: rgb(7, 94, 7);
    clip-path: polygon(0% 20%, 5% 0%, 100% 0%, 100% 0%, 100% 80%, 95% 100%, 0% 100%, 0% 10%);
    padding: 15px 95px;
    font-size: 20px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.5s;
}

.header__join__us button:hover {
    background-color: rgb(37, 192, 37);
}

.main__text {
    color:#f2fff8;
    font-size: 70px;   
}

.near__main__text {
    color:#d2d8d5;
    font-size: 30px;
}

main {
    position: relative;
    box-sizing: border-box;
}

/* Media section */

#media {
    background-color: rgba(7, 94, 7, 0.893);
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    position: fixed;
    top: 200px;
    right: 0%;
    height: 220px;
    width: 65px;
    z-index: 100;
}

#icons {
    display: flex;
    flex-direction: column;
}

.icon {
    cursor: pointer;
    transform: rotate(270deg);
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.855);
}

#media_text {
    margin-top: 50px;
    transform: rotate(270deg);
    font-size: 15px;
    color:rgba(255, 255, 255, 0.855);
}

#trainers_section {
    padding: 50px 100px 50px 100px;
    height: 500px;
    background-color: rgb(255, 255, 255);
}

#schedule_section {
    height: 1200px;
    background-color: rgb(4, 97, 4);
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@keyframes spin_2 {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


@media only screen and (max-width: 1300px) {
    
    header {
        margin-top: 200px;
        padding-left: 100px;
    }

    .main__text {
        font-size: 60px;
    }

    .near__main__text {
        font-size: 30px;
    }
}

@media only screen and (max-width: 1000px) {
    header {
        margin-top: 100px;
        padding-left: 50px;
    }
}

@media only screen and (max-width: 1000px) {
    .main__text {
        font-size: 50px;
    }

    .near__main__text {
        font-size: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .main__text {
        display: none;
    }

    .near__main__text {
        display: none;
    }

    header {
        padding-left: 0;
        padding-right: 0;
    }

    .header__join__us {
        display: flex;
        left: 0;
        bottom: 0;
        right: 0;
        left: 0;
        align-items: center;
        justify-content: center;
    }

}
